{% extends 'base.html.twig' %}

{% block main %}

<div id="flex-container" style="position: absolute;top:30%;left: 37%;">
    <div class="form-container">
        <h2>Créez votre compte :</h2>
        {{ form_start(form) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
